name: deploy-build

# Only run this when the master branch changes
on:
  push:
    branches:
    - master

# This job installs dependencies, builds, and pushes it to `gh-pages`
jobs:
  deploy-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # Install dependencies
    - name: Set up Node
      uses: actions/setup-node@v1
      with:
        node-version: 14

    - name: Install dependencies
      run: |
        npm install

    # Build the site
    - name: Build the site
      run: |
        npm run build

    # Push the dist dir to github-pages
    - name: Deploy Github Pages
        run:
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          npx gh-pages -d dist -u "github-actions-bot <support+actions@github.com>"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
